$color-violeta: #5B248E;
$color-azul: #2E77C0;
$color-gris-txt: #666871;
$color-body: #181C32;
$color-link: #009EF6;

.color-azul{ color: $color-azul}
.color-violeta{ color: $color-violeta}
.color-link{ color: $color-link}
