
body:has(main.page-centered){
    background-color: #2E77C0;
    background-position: center;
    background-size: cover;
    background-image: url('../images/bg1.jpg');
}
main.page-centered{
    min-height: 100vh;
    min-height: 100dvh;
    section{
        max-width: 600px;
        font-size: 0.875rem;
        header{           
            img{
                max-width: 150px;
            }
        }
        h3{
           font-size: calc(1.0rem + .5vw);
           font-weight: 700;
        }
        .buttons{
            max-width:380px;
            .btn{
                color: white;
                margin-bottom: 1em;
                font-weight: 500;
                padding: 1.0em ;
                i{
                    margin-right: 10px;
                }
            }
            .btn-solicitar{
                background-color: #2e77c0;
                &:hover{
                    background-color: transparentize(#2e77c0, 0.2)
                }
            }
            .btn-donar{
                background-color: #5b248e;
                &:hover{
                    background-color: transparentize(#5b248e, 0.2)
                }
            }
        }
    }
}   